useDynLib(blockTools)
export( block,
        assignment,
	assg2xBalance,
	createBlockIDs,
        diagnose,
        outCSV,
        outTeX
)
import(MASS)

S3method(print, block)
S3method(print, assg)
S3method(print, diagnose)
S3method(print, blockSum)

